.heading {
    position: fixed;
    top: 0;
    width: 100%;
    height: 180px;
    background: #fff;
    z-index: 1;
    box-shadow: 0 1px 10px #ccc;
}

.page-header a {
    font-weight: bold;
}

.tweed-ico {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: relative;
    margin-right: 5px;
    top: 5px;
    background: url(../img/tweed-pattern.png);
}

.content {
    margin-top: 200px;
}

.block {
    margin-bottom: 20px;
}

.trend {
    text-overflow: ellipsis;
    overflow: hidden;
}

.tweet {
    border-bottom: 1px dashed #c2c2c2;
    padding-bottom: 20px;
    overflow: hidden;
}
.tweet-avatar {
    margin-right: 10px;
}
.tweet-date {
    margin-left: 10px;
}

@media (max-width: 480px) {
    .heading {
        position: static;
    }
    .content {
        margin-top: 20px;
    }
    .heading h1 {
        font-size: 24px;
    }
    .heading h1 small {
        font-size: 18px;
    }
}