<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Tweed - twitter feed viewer</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <!--[if lt IE 9]>
        <script src="lib/html5shiv.js" type="text/javascript"></script>
        <script src="lib/es5-shim.min.js" type="text/javascript"></script>
        <script src="lib/respond.min.js" type="text/javascript"></script>
    <![endif]-->
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.js"></script>
    <script type="text/javascript" src="lib/sha1.js"></script>
    <script type="text/javascript" src="lib/codebird.js"></script>
    <script type="text/javascript" src="lib/ng-infinite-scroll.js"></script>
    <script type="text/javascript" src="js/twitter-client/twitter-client.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</head>
<body ng-app="tweed">
    <div class="container" ng-controller="AppCtrl">
        <div class="page-header">
            <h1><a href="#" ng-click="query='';find();">Tweed</a> <small>twitter feed viewer</small></h1>
        </div>
        <form ng-submit="find()" class="input-form block">
            <div class="row">
                <div class="col-lg-9">
                    <input class="form-control" type="search" ng-model="query" placeholder="Type some #hashtags for search...">
                </div>
                <div class="col-lg-3">
                    <button class="btn btn-block" ng-disabled="requestPending">
                        <span ng-switch on="requestPending">
                            <span ng-switch-when="true">Loading...</span>
                            <span ng-switch-default>Find!</span>
                        </span>
                    </button>
                </div>
            </div>
        </form>
        <div class="block" ng-show="!requestError && lastQuery">Statuses with "{{lastQuery}}":</div>
        <div class="alert alert-danger" ng-show="requestError">
            <h5><b>Error!</b></h5>
            <p ng-repeat="error in requestError.errors">{{error.message}}. Code: {{error.code}}</p>
        </div>
        <div class="row tweet block" ng-repeat="status in statuses">
            <div class="col-lg-1">
                <a class="thumbnail" ng-href="http://twitter.com/{{status.user.screen_name}}">
                    <img ng-src="{{status.user.profile_image_url}}">
                </a>
            </div>
            <div class="col-lg-11"><b title="@{{status.user.screen_name}}"><a ng-href="http://twitter.com/{{status.user.screen_name}}">{{status.user.name}}</a></b>: <span ng-bind-html-unsafe="status.text"></span></div>
        </div>
        <div class="text-muted text-center block" ng-show="statuses.length == 0 && lastQuery && !requestPending">Tweets not found. Try another query.</div>
        <button class="btn btn-block block" ng-disabled="requestPending" ng-show="statuses.length > 0 && lastQuery" ng-click="nextPage()"
                infinite-scroll-disabled="statuses.length == 0 || !lastQuery || requestPending" infinite-scroll="nextPage()">
            <span ng-switch on="requestPending">
                <span ng-switch-when="true">Loading...</span>
                <span ng-switch-default>Show more tweets</span>
            </span>
        </button>
    </div>
</body>
</html>